/* app css stylesheet */

body {
  padding-top: 20px;
}

.item {
    width: 400px;
    height: 50px;
    background: rgba(79, 104, 136, 0.40);
    border-radius: 5px;
    margin-bottom: 2px;
}
.item div {
    float: left;
    padding: 15px   ;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}
.player {
    margin: 0 auto;
    position: relative;
    width: 400px;
}
#input {
    width: 389px;
}
.btn {
    cursor: pointer;
    width: 75px;
    height: 75px;
    float: left;
}
.btn-play {
    background: transparent url("../img/audio-video-buttons.jpg") 0 0 no-repeat;
}
.btn-mute {
    background: transparent url("../img/audio-video-buttons.jpg") -306px -86px no-repeat;
}